
<div class="container">
	<div class="row">
		<div class="col-md-8 column">
			<textarea class="form-control" rows="6" name="input_text">С тех пор, как Риту жестоко убили, Картер сидит у окна. Никакого телевизора, чтения, переписки. Его жизнь — то, что видно через занавески. Ему плевать, кто приносит еду, платит по счетам, он не покидает комнаты. Его жизнь — пробегающие физкультурники, смена времен года, проезжающие автомобили, призрак Риты.
Картер не понимает, что в обитых войлоком палатах нет окон.</textarea>
			<p></p>
			<button type="button" class="btn btn-primary btn-md" id="sw_start">
  			Обработать текст
			</button>
			<p></p>
			
			<%= @tokens  %>
            
			
		</div>
	</div>
</div>