<div class="row">
      <div class='col-md-12'>
        <h2>HTML Parser</h2>
        <p>Данное представление делает parsing следующей <a href="http://www.hopesandfears.com/hopesandfears/experience/case/123267-hirosi-mikitani-marketpleys-3-0">страницы</a> сайта Hopes&Fears и отображает содержимое контейнера "article-text" </p>
        <hr />
      </div>
    </div>

  <div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
          <%=  raw @ant %>
        </div>  
    </div>
  </div>